//Colors
$primary-color: #58e1c1;
$primary-light: #80e8d1;
$secondary-color: #777;
$default: #51ddfc;
$default-light: #7ee6fd;
$default-dark: #4da2bb;
$error: #e4757a;
$error-light: #ec9fa3;
$info: #927bc1;
$info-light: #deb2ee;
$success: #63cc82;
$success-light: #88d9a0;
$warning: #fd7856;
$warning-light: #fd9f85;

//Breakpoints
$break-med: 768px;


