/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include min-break($break-med) {
    padding: 10px 30px;
  }
}

.default {
  background-color: $default;
}

.error {
  background-color: $error;
}

.info {
  background-color: $info;
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}