/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include min-break($break-med) {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include min-break($break-med) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include min-break($break-med) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}

.theme.col-1 {
  background-color: $info;
}

.theme.col-2 {
  background-color: $warning;
}

.theme.col-3 {
  background-color: $info-light;
}

.theme.col-4 {
  background-color: $default-light;
}

.theme.col-5 {
  background-color: $success-light;
}

.theme.col-6 {
  background-color: $default-dark;
}

.theme.col-7 {
  background-color: $error-light;
}

.theme.col-8 {
  background-color: $warning-light;
}

.theme.col-9 {
  background-color: $error;
}

.theme.col-10 {
  background-color: $success;
}

.theme.col-11 {
  background-color: $default;
}

.theme.col-12 {
  background-color: $primary-light;
}

.card {
  flex-basis: 100%;
}